
#result {
    height:20px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    padding:5px;
    margin-bottom:10px;
    background-color:#FFFF99;
}
#sisda_id{
    padding:3px;
    border:1px #CCC solid;
    font-size:18px;
}

.suggestionsBox {
    position: absolute;
    left: 66px;
    top:24px;
    margin: 20px 0px 0px 0px;
    width: 309px;
    padding:0px;
    background-color: #333;
    border-top: 0px solid #000;
    color: #fff;
}
.suggestionList {
    margin: 0px;
    padding: 0px;
}
.suggestionList ul li {
    list-style:none;
    margin: 0px;
    padding: 6px;
    border-bottom:1px dotted #666;
    cursor: pointer;
}
.suggestionList ul li:hover {
    background-color: #FC3;
    color:#000;
}
ul {
    font-family:Verdana,Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFF;
    padding:0;
    margin:0;
}
 
.load{
background-image:url(loader.gif);
background-position:right;
background-repeat:no-repeat;
}
 
#suggest {
    position:relative;
}
 
